{
    "port": 3000,
    "bind_ip": "127.0.0.1",
    "tls_privkey": "blah.key",
    "tls_cert": "blah.crt",
    "passphrase": "supersecret123",
    "totpsecret": "blahblahinbase32",
    "services": [
        {"name": "Service 1", "command": ["ls"]},
        {"name": "Service 2", "command": ["whoami"]},
        {"name": "Service 3", "command": ["echo", "client ip", "%IP%", "port", "%PORT%"]}
    ]
}

